@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 100%;
  font-style: normal;
}

.selectedOptions {
  overflow-x: auto;
}

.selectedOptions::-webkit-scrollbar {
  display: none;
}

input[type="range"] {
  accent-color: #a5308a;
  /* -webkit-appearance: none; */
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px;
  border: none;
}